@import "../../../../styles/colors";

.wrapper {
    width: 100%;
    background-color: $dark;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    color: white;
    font-size: 0.87rem;
    line-height: 1.7rem;
    font-weight: 700;
    letter-spacing: -0.04rem;
    margin-left: 5.5rem;
}

.itemLabel {
    color: $light;
}

.itemValue {
    display: inline-block;
    color: white;
    width: 5.5rem;
}
