$green-light: #16c359;
$green: #187e3a;
$green-dark: #1a381d;

$blue-light: #2680ea;
$blue: #2e4d97;
$blue-dark: #211f4f;

$red-light: #e31542;
$red: #9a0e30;
$red-dark: #50091e;

$dark: #070707;

$light: #d4b37f;

// background: linear-gradient(to bottom, #494949, #1d1d1d);
